<div class="social-icons">
  <a href="http://x.com/blazejmanczak" target="_blank" title="X (Twitter)">
    <i class="fab fa-x-twitter"></i>
  </a>
  <a
    href="https://www.linkedin.com/in/blazejmanczak/"
    target="_blank"
    title="LinkedIn"
  >
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a
    href="https://www.strava.com/athletes/19083923"
    target="_blank"
    title="Strava"
  >
    <i class="fab fa-strava"></i>
  </a>
  <a
    href="https://scholar.google.com/citations?user=OwvBDu4AAAAJ&hl=en&oi=ao"
    target="_blank"
    title="Google Scholar"
  >
    <i class="fas fa-graduation-cap"></i>
  </a>
</div>
